<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>

    <!--This target is used to save all logs-->
    <!--layout -> ${callsite} writes the method name with namespace in the log file. We do not need to find the method name with reflection-->
    <target name="LogTesterLog" 
            xsi:type="File"
            archiveEvery="Day"                                                                
            archiveFileName="${basedir}/ArchivedAppLogs/Log${shortdate}-{#####}.log"
            archiveNumbering="Sequence"            
            maxArchiveFiles="99999"
            layout="${longdate}|#|${logger}|#|${level}|#|${message}|#|${exception:format=tostring}|#|${callsite}|;#;|"
            fileName="${basedir}/AppLog/LogTester.log" />
    <target name="LogTesterLibLog"
            xsi:type="File"
            archiveEvery="Day"
            archiveFileName="${basedir}/ArchivedAppLogs/Log${shortdate}-{#####}.log"
            archiveNumbering="Sequence"
            maxArchiveFiles="99999"
            layout="${longdate}|#|${logger}|#|${level}|#|${message}|#|${exception:format=tostring}|#|${callsite}|;#;|"
            fileName="${basedir}/AppLog/LogTesterLib.log" />
    </targets>
  <rules>
      <!--Following rule indicates that all logs will be directed to a target named ArmakomAuthenticator--> 
      <logger name="LogTester"  writeTo="LogTesterLog" />
      <logger name="LogTesterLib"  writeTo="LogTesterLibLog" />
    </rules>
  
</nlog>
